# Created by .ignore support plugin (hsz.mobi)
**/out/
**/raw/
*.rar
*.zip
*.old
*.bak
!/dmzj_out/黑之魔王_(2367)/
*.raw.txt
*.raw.*
*.json
!/dmzj_out/**/*.json
!/dmzj/**/*.json
/user/**/zraw
/user/**/*.raw
