# Created by .ignore support plugin (hsz.mobi)
out
raw
*.rar
*.zip
*.old
*.bak
*.raw.txt
*.raw.*
*.json
!/dmzj_out/**/*.json
!/dmzj/**/*.json
/user/**/zraw
/user/**/*.raw
dmzj_out

*.raw

temp
**/temp
**/image/
*.rar
*.zip

